# Fedora Core 3 kickstart
lang en_US
langsupport --default=en_US en_US
keyboard us
mouse generic3ps/2 --device psaux
timezone --utc UTC
auth --enableshadow --enablemd5

install
network --device eth0 --bootproto dhcp
url --url @INSTALL_URL@/

skipx
cmdline
reboot

bootloader --location=mbr --driveorder=hda
zerombr
clearpart --all --drives=hda --initlabel

part /boot --fstype ext3 --size=100 --ondisk=hda
part swap  --size=256 --ondisk=hda
part /     --fstype ext3 --size=3000 --grow --ondisk=hda

rootpw rootpassword
firewall --disabled

%packages
@ X Window System
@ GNOME Desktop
@ Development Tools
gcc
make
rpm-build
patch
tar
binutils

tcl
tk

openssh
openssh-server
openssh-clients

mozilla

%post
cat > /etc/resolv.conf <<'EOF'
nameserver 10.0.2.3
EOF

cat > /etc/sysconfig/network <<'EOF'
NETWORKING=yes
HOSTNAME=localhost.localdomain
GATEWAY=10.0.2.2
GATEWAYDEV=eth0
EOF

cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<'EOF'
DEVICE=eth0
BOOTPROTO=dhcp
ONBOOT=yes
USERCTL=no
PEERDNS=no
TYPE=Ethernet
EOF

cat >> /etc/rc.d/rc.local <<'EOF'

/sbin/route -n | awk '$1 == "0.0.0.0" { found = 1 } END { exit found ? 0 : 1 }' || /sbin/route add default gw 10.0.2.2 eth0
EOF
