# Red Hat Linux 7.2 kickstart
lang en_US
langsupport --default=en_US en_US
keyboard us
mouse generic3ps/2 --device psaux
timezone --utc UTC
auth --enableshadow --enablemd5

install
cdrom

skipx
text
reboot

lilo --location=mbr
zerombr yes
clearpart --all

part /boot --fstype ext2 --size=100 --ondisk=hda
part swap  --size=256
part /     --fstype ext2 --size=3000 --grow --ondisk=hda

network --bootproto=dhcp --device=eth0
rootpw rootpassword
firewall --disabled

%packages --resolvedeps
@ Base
gcc
make
rpm-build
patch
tar
binutils

tcl
tk

openssh-server
openssh-clients

%post
chkconfig sshd on

mkdir -p /root/rpmbuild/{BUILD,BUILDROOT,RPMS,SOURCES,SPECS,SRPMS}
echo '%_topdir /root/rpmbuild' > /root/.rpmmacros

grep -q 'PermitRootLogin' /etc/ssh/sshd_config && \
  sed -i 's/#PermitRootLogin yes/PermitRootLogin yes/' /etc/ssh/sshd_config
